div.st-emotion-cache-vdokb0 {
    background-color: #EEEEEE;
    border: 2px solid #dcdcdc;
    height:auto;
    
    text-align: center;

    width:fit-content;
    padding: 100px,10px,5px,5px;
    border-radius: 5px;
}